pre,
code {
  font-family: $monospaced;
}

code {
  background-color: $grey-3;
  border-radius: 3px;
  color: $code-color;
  font-size: 85%;
  padding: .25em .5em;
}

pre {
  margin: 0 0 1rem;
  overflow: auto;
}

pre code {
  background-color: #f6f4f4;
  color: #141313;
  font-size: 75%;
  padding: 15px;
  border-left: 5px solid #007acc;
  display: block;
  overflow-x: auto;
  font-family: 'JetBrains Mono', monospace;
  border-radius: 4px;
}

.highlight {
  background-color: $grey-3;
  border-radius: 3px;
  line-height: 1.4;
  margin: 0 0 1rem;
  padding: 1rem;

  pre {
    margin-bottom: 0;
    overflow-x: auto;
  }

  .lineno {
    color: $default-tint;
    display: inline-block;
    padding: 0 .75rem 0 .25rem;
    // Make sure numbers aren't selectable
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}
