{%- macro time() -%} 
{%- if config.extra.footer.start_year -%} 
  {%- set start_year = config.extra.footer.start_year -%} 
{%- else -%} 
  {%- set start_year = now() | date(format="%Y") -%} 
{%- endif -%} 

{%- if config.extra.footer.end_year -%} 
  {%- set end_year = config.extra.footer.end_year -%} 
{%- else -%} 
  {%- set end_year = now() | date(format="%Y") -%} 
{%- endif -%}
{%- if start_year == end_year -%} 
  {%- set year = start_year -%} 
{%- else -%} 
  {%- set year = start_year ~ "-" ~ end_year -%} 
{%- endif -%}

<time datetime="{{ now() }}">{{ year }}</time>
{%- endmacro -%} {% macro page(page) -%}
<div class="catalogue-item">
  <a href="{{ page.permalink | safe }}">
    <div class="catalogue-title-date-container">
      <h1 class="catalogue-title">{{ page.title }}</h1>
      <time datetime="{{ page.date }}" class="catalogue-time">{{ page.date | date(format=config.extra.timeformat | default(value="%B %e, %Y")) }}</time>
    </div>
  </a>
  {%- if page.taxonomies.tags -%}
  <p class="catalogue-tags">
    tags: {%- for tag in page.taxonomies.tags %}
    <a href="/tags/{{ tag }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %}
    {%- endfor %}
  </p>
  {%- endif -%}
  <div class="catalogue-line"></div>
  <p>{%- if page.summary -%} {{ page.summary | safe }} {%- endif -%}</p>
</div>
{%- endmacro %}
